.input-48 {
  width: 48%
}

.input-100 {
  width: 100%;
  text-align: center
}

.boton {
  background-color: #e02a3a;
align-content: center;
border-bottom-right-radius: 7px;
border-bottom-left-radius: 7px;
border-top-left-radius: 7px;
border-top-right-radius: 7px;
font-weight: 100;
padding: 10px 19px;
color: #030303;
font-size: 16px;
}

.boton1 {
  background-color: #28d41dde;
  align-content: end;
  float: right;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-weight: 100;
  padding: 10px 19px;
  color: #030303;
  font-size: 16px;
}
